@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

*{
    box-sizing: border-box; /* does so that when you add padding to an element it doesn't affect the width*/
    margin: 0;
    padding: 0;
}

html, 
body {
    font-family: 'Rubik', sans-serif;
    background-color: black;
    color: #fff;
    line-height: 1.7;
    overflow-x: hidden; /* so that we don't have any scroll bar on the x axe, so the horisontal*/
}

/* DEFAULT STYLE*/
a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #ccc;
}

ul{
    list-style-type: none; /*removes the bullet points*/
}

img{
    width: 100%;
}

h3{
    font-size: 26px;
    font-weight: 300;
}

h4{
    color: #00ed82;
    font-size: 13px;
    text-transform: uppercase;
}

.btn{
   display: inline-block; 
   background: #fff;
   color: #333;
   min-width: 135px;
   padding: 20px 32px;
   font-size: 15px;
   font-weight: 600;
   line-height: 14px;
   border: none;
   border-radius: 5px;
   letter-spacing: 1px;
   cursor: pointer;
   text-transform: uppercase;
}

.btn-cta:hover{
    opacity: 0.8;
}

.btn-outline{
    background: none;
    color: #fff;
    border: 2px solid #fff
}

.btn-outline:hover{
    color: #fff;
    border-color: #ccc;
    transition: 0.2s;
}

.legal-text{
    font-size: 10px;
    color: #ccc;
    margin-top: 20px;
}

.sub-link{
    display: block;
    color: #ccc;
    font-size: 12px;
    margin-top: 5px;
    text-decoration: underline;
}

/*STYLING FOR THE HERO SECTION*/
.header{
    height: 530px;
    background: url(/img/header.jpg)
    no-repeat center center / cover; /* we don't want the background to repeat, and we want it to be center center, and to cover that page*/
}

.header nav{ /* There is only one nav option in the nav, which is a button. To get it to the right side of the screen, you can just do a flex, and then you justify the content to flex-end so that it is a the end of the page- AKA the right side.*/
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
}

.header nav .login-btn{ /*styling for the button on the nav in the header section*/
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.header .logo{
    width: 270px;
    margin: 20px;
}

/*HEADER CONTENT ITSELF*/
.header .header-content{ /*all the header section in general stuff*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.header .header-text-1{
    font-size: 18px;
    font-weight: bold;
}

.header .header-text-2{
    font-size: 18px;
    margin: 25px 0px;
}

/*SUB HEADER*/
.sub-header{
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    gap: 40px;
    align-items: center;
    padding: 30px 40px;
    background: -webkit-linear-gradient(right, #0f495c, #0d3640, #08141f);
}

.sub-header > div:last-of-type{ /*this targets the last type of div elements in the class sub-header*/
    justify-self: end;
    align-self: end;
}

.sub-header > div:last-of-type .sub-link{
    text-align: center;
}
/*media queries*/

@media (max-width: 768px){
    .header .logo{
        width: 200px;
    }

    .header .header-content{
        text-align: center;
        padding: 0 20px;
    }
}